*{
 padding: 10px;
 background-color: #2F524E;
}

.header{
  font-family: 'Poiret One';
  text-align: center;
  color: #60EBE3;
}

.menu{
  font-size: 30px;
  border: 5px solid #B0FCFF;
  border-width: thin;
  text-align: center;
}

.wrapper{
  float: left;
  position: fixed;
}

.each-week{
  background-color: #00423B;
  border: 5px solid #B0FCFF;
  border-width: thin;
}

.right-side{
  float: right;
  overflow-y: scroll;
  margin-left: 50%;
  width: 900px;
}

a{
  padding: 0px;
  text-decoration: none;
  text-align: left;
  color: #95D4E8;
}

.right-side a{
  padding: 0px;
  text-decoration: none;
  text-align: left;
  color: #95D4E8;
  background-color: #00423B
}

span{
  padding: 0px;
  background-color: #00423B
}

a:hover{
  color: #98FFD5;
}

.writing, li{
  color: #38C4EB;
  background-color: #00423B;
  font-family: 'Cormorant';
  font-size: 20px;
}

.right-side p{
  text-align: left;
  background-color: #00423B
}

.right-side h1{
  text-align: center;
  background-color: #00423B
}
